#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}
.cart-img {
  width: 30px;
}

.cart-quant {
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.img-detail {
  max-width: 300px;
}